/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Source+Sans+Pro:wght@400;600&display=swap");
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  letter-spacing: 0.02em;
}

p,
li,
dd,
dt,
span {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}
